@import "bootstrap";

.user-info {
  margin-to: 9px;
}

.nav {
  margin-top: 5px;
}

.vote_arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}